<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="csr-modal-title">Company</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="dismissModal(modal)"
    ></button>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="isCompany">
      <span>This is a company form</span>
    </ng-container>
    <ng-container *ngIf="!isCompany">
      <span>This is a contact form</span>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">
      Save
    </button>
  </div>
</ng-template>
